<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.1.xsd">
	
    <!-- 配置Spring支持国际化，messageSource Bean是Spring进行国际化配置的bean -->
    <bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
        <!-- Spring容器调用messageSource Bean的setBasenames()方法，来设置Spring使用的国际化资源文件，
        该方法接收一个数组参数，使用list元素配置 -->
        <property name="basenames">
            <list>
                <!-- 格式为，目录+资源文件的前缀。i18n/message即表示i18n目录下前缀为message的资源文件 -->
                <value>i18n/message</value>
                <!-- 如果有多个国际化资源文件，继续列在下面，1,2,3,4 -->
            </list>
        </property>
    </bean>
    
        
</beans>
